@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
}

header a {
  color: black;
  text-decoration: none;
}

@media (min-width: 768px) {
  header h1 {
    padding-left: 1em;
  }
}

.header-nav ul {
  padding: 0;
}

@media (min-width: 768px) {
  .header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-nav li {
  list-style: none;
}

@media (min-width: 768px) {
  .header-nav li {
    padding: 0 1em;
  }
}

@media (min-width: 1024px) {
  .header-nav li:hover {
    opacity: .7;
    text-decoration: underline;
  }
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}
