<div class="comlaw">
    <h2>特定商取引に関する表記</h2>
  <div class="comlaw__list">
    <dl>
      <dt>販売業者</dt>
      <dd>◯◯◯◯◯◯◯</dd>

      <dt>代表責任者</dt>
      <dd>守屋　雅章</dd>

      <dt>所在地</dt>
      <dd>◯◯◯◯◯◯◯</dd>

      <dt>電話番号</dt>
      <dd>◯◯◯◯◯◯◯</dd>

      <dt>受付時間</dt>
      <dd>◯◯◯◯◯◯◯</dd>

      <dt>公開メールアドレス</dt>
      <dd>◯◯◯◯◯◯◯</dd>

      <dt>ホームページURL</dt>
      <dd>◯◯◯◯◯◯◯</dd>

      <dt>販売価格</dt>
      <dd>◯◯◯◯◯◯◯</dd>

      <dt>商品代金以外の必要料金</dt>
      <dd>◯◯◯◯◯◯◯</dd>

      <dt>引き渡し時期</dt>
      <dd>◯◯◯◯◯◯◯</dd>

      <dt>お支払い方法</dt>
      <dd>◯◯◯◯◯◯◯</dd>
    </dl>
  </div>
</div>
