<app-header></app-header>

<main style="min-height: 650px;">
  <router-outlet></router-outlet>
</main>

<div class="footer-box">
  <!-- <div class="footer-box__icons">
    <div class="footer-box__icon">
      <a>
        <mat-icon aria-hidden="false">home</mat-icon>
        <span>Home</span>
      </a>
    </div> -->
    <!-- <div class="footer-box__icon">
      <a routerLink="/">
        <mat-icon aria-hidden="false">settings_applications</mat-icon>
        <span>Settings</span>
      </a>
    </div>
    <div class="footer-box__icon">
      <a routerLink="/mypage">
        <mat-icon aria-hidden="false">person</mat-icon>
        <span>Profile</span>
      </a>
    </div> -->
  <!-- </div> -->
</div>
